<div class="cv-container" id="cv-container">
  <!-- Encabezado -->
  <div class="header pdf-section">
    <img class="logo" src="./assets/images/logo.png" alt="logo">
    <h3 class="title">Curriculum Vitae</h3>
  </div>

  <!-- Título CV -->
  <div class="cv-title pdf-section">
    <label>Curriculum Vitae</label>
  </div>

  <!-- Datos Personales -->
  <div class="section pdf-section">
    <h4>{{ languageTexts.datospersonales }}</h4>
    <div class="detail">
      <span>{{ languageTexts.apellidonombre }}: {{ apellido }} {{ nombre }}</span>
    </div>
    <div class="detail">
      <span>{{ languageTexts.tiempoExperiencia }}: {{ tiempoExperiencia }}</span>
    </div>
    <div class="detail">
      <span>{{ languageTexts.nacionalidad }}: {{ nacionalidad }}</span>
    </div>
    <div class="detail idiomas-detail">
      <span>{{ languageTexts.idiomas }}:</span>
      <ul>
        <li *ngFor="let idioma of idiomas">{{ idioma.idioma }} </li>
      </ul>
    </div>
    <div class="detail">
      <span>{{ languageTexts.residenciaactual }}: {{ ciudad }} , {{' '+pais}}</span>
    </div>
    <div class="detail">
      <span>{{ languageTexts.edad }}: {{ edad }}</span>
    </div>
  </div>

  <!-- Estudios Cursados -->
  <div class="section pdf-section">
    <h4>{{ languageTexts.estudioscursados }}</h4>
    <div *ngFor="let estudio of estudios" class="estudio">
      <div>
        <span class="label">{{ estudio.universidad }}</span>
      </div>
      <div>
        <span>{{ languageTexts.carrera }}: <strong>{{ estudio.carrera }}</strong></span>
      </div>
      <div>
        <span>{{ languageTexts.fechaInicio }}: <strong>{{ estudio.fechaIni | date:'yyyy' }}</strong></span>
      </div>
      <div>
        <span>{{ languageTexts.generacion }}:
          <strong>
            {{ isToday(estudio.generacion) ? languageTexts.actualidad : (estudio.generacion | date:'yyyy') }}
          </strong>
        </span>
      </div>
    </div>
  </div>

  <div class="skills-section-columns pdf-section" *ngIf="conocimientos.length <14 && skills.length < 14 && conocimientos.length > 0 && skills.length > 0">
    <!-- Columna de conocimientos -->
    <div *ngIf="conocimientos.length > 0" class="column conocimientos">
      <h4>{{ languageTexts.conocimientotec }}</h4>
      <ul class="conocimientos-list">
        <li *ngFor="let conocimiento of conocimientos">
          {{ conocimiento.conocimiento }}
        </li>
      </ul>
    </div>

    <!-- Columna de skills -->
    <div *ngIf="skills.length > 0" class="column skills">
      <h4>{{ languageTexts.skillEt }}</h4>
      <ul class="skills-list">
        <li *ngFor="let skill of skills">
          {{ skill.skill }}
        </li>
      </ul>
    </div>
  </div>

  <div class="knowledge-and-skills pdf-section" *ngIf="(conocimientos.length > 0 && skills.length === 0) || (skills.length > 0 && conocimientos.length === 0)
    || (conocimientos.length > 13 || skills.length > 13)">
     <!-- Fila para Conocimientos -->
    <div class="knowledge-row">
      <h4>{{ languageTexts.conocimientotec }}</h4>
      <div class="knowledge-columns">
        <div class="knowledge-column" *ngFor="let conocimiento of conocimientos">
          <ul>
            <li>{{ conocimiento.conocimiento }}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Fila para Skills -->
    <div class="skills-row">
      <h4>{{ languageTexts.skillEt }}</h4>
      <div class="skills-columns">
        <div class="skills-column" *ngFor="let skill of skills">
          <ul>
            <li>{{ skill.skill }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- EXPERIENCIA LAB -->
  <!-- <div class="section pdf-section">
    <h4>{{ languageTexts.experiencialab }}</h4>
    <div *ngFor="let experiencia of experiencias" class="experience">
      <div>
        <span>{{ languageTexts.puesto }}: <strong>{{ experiencia.puesto }}</strong></span>
      </div>
      <div>
        <span>{{ languageTexts.empresa }}: <strong>{{ experiencia.empresa }}</strong></span>
      </div>
      <div>
        <span>{{ languageTexts.fecha }}:
          <strong>
            {{ experiencia.fechaIni ? capitalizeFirstLetter(experiencia.fechaIni) : '' }} -
            {{ experiencia.fechaFin ? capitalizeFirstLetter(experiencia.fechaFin) : languageTexts.actualidad }}
          </strong>
        </span>
      </div>
      <div>
        <span>{{ experiencia.descripcion }}</span>
      </div>
    </div>
  </div> -->

  <!-- CURSOS -->
  <div *ngIf="cursos.length > 0" class="section pdf-section">
    <h4>{{ languageTexts.otrosEstudios }}</h4>
    <div *ngFor="let curso of cursos" class="course">
      <div>
        <span><strong>{{ curso.nombre }}</strong></span>
      </div>
      <div>
        <span><strong>{{ languageTexts.organizacion }}: {{ curso.organizacion }}</strong></span>
      </div>
      <div>
        <span>
          {{ capitalizeFirstLetter(curso.fechaIni) }} -
          {{ curso.fechaFin ? capitalizeFirstLetter(curso.fechaFin) : languageTexts.actualidad }}
        </span>
      </div>
      <div>
        <span>{{ languageTexts.descripcion }}: {{ curso.descripcion }}</span>
      </div>
      <div>
        <span>{{ languageTexts.entidadet }}: {{ curso.entidad }}</span>
      </div>
      <div>
        <span>{{ languageTexts.tiempodeEst }}: {{ curso.tiempoEstudio }}</span>
      </div>
    </div>
  </div>

   <!-- COMENTARIOS -->
   <div class="section pdf-section">
    <h4>{{ languageTexts.comentariotTitulo }}</h4>
    <div class="detail">
      <span>{{ comentarios }}</span>
    </div>
  </div>
</div>
