<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="toolbar">
      <span>Menu</span>
      <span class="spacer"></span>
      <img src="./assets/images/logo.png"
            class="logo"
            alt="Logo Tesis">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#datospersonales">{{ languageTexts.datosNav }}</a>
      <!-- <a mat-list-item href="#idiomas">{{ languageTexts.idiomas }}</a> -->
      <a mat-list-item href="#estudios">{{ languageTexts.estudiosNav }}</a>
      <a mat-list-item href="#conocimiento-total">{{ languageTexts.conocimiento }}</a>
      <a mat-list-item href="#skills">Skills</a>
      <!-- <a mat-list-item href="#experiencia">{{ languageTexts.experienciaNav }}</a> -->
      <a mat-list-item href="#cursos">{{ languageTexts.cursosNav }}</a>
      <a mat-list-item href="#comentarios">{{ languageTexts.comentarios }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacera"></span> <!-- Espaciador flexible a la izquierda -->
      <span class="center-text">{{ languageTexts.bienvenido }}</span> <!-- Texto centrado -->
      <span class="spacera"></span> <!-- Espaciador flexible a la derecha -->
      <mat-form-field class="small-select">
        <mat-label>{{ languageTexts.selectLanguage }}</mat-label>
        <mat-select [(value)]="selectedLanguage" (selectionChange)="updateLanguageTexts()" class="custom-select">
          <mat-option *ngFor="let language of languages" [value]="language.value">
            {{ language.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
