<div class="formulario-container">
    <app-personal></app-personal>
</div>
<!-- <div class="formulario-container">
  <app-idiomas></app-idiomas>
</div> -->
<div class="formulario-container">
  <app-estudios></app-estudios>
</div>
<div class="formulario-container">
    <app-conocimiento-total></app-conocimiento-total>
</div>
<div class="formulario-container">
  <app-skills></app-skills>
</div>
<!-- <div class="formulario-container">
    <app-experiencia></app-experiencia>
</div> -->
<div class="formulario-container">
    <app-cursos></app-cursos>
</div>
<div class="formulario-container">
    <app-comentarios></app-comentarios>
</div>
